{
  "$schema": "https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/semantic-release.json",
  "branches": [
    {
      "name": "master"
    },
    {
      "name": "beta",
      "channel": "beta",
      "prerelease": "beta"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          "eapp-*-*.dmg",
          "eapp-*-*.deb",
          "eapp-*-*.rpm",
          "eapp-*-*.AppImage",
          "eapp-*-*.msi",
          "eapp-*-*.exe"
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
